name: Build and Analysis

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [lts/krypton, latest]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm run lint
      - run: npm run test:ci
      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@40f5b61913e891f9d316696628698051136015be
        if: ${{ matrix.node-version == 'lts/krypton' }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
